
    <!--Footer-->
    <footer class="page-footer text-center font-small primary-color-dark darken-2 mt-4 wow fadeIn  ">

        <!--Call to action-->
        <div class="pt-4">
            <a class="btn btn-outline-white" href="#" target="_blank" role="button">Subscribe Us
                <!-- <i class="fa fa-download ml-2"></i> -->
            </a>
            <a class="btn btn-outline-white" href="#" target="_blank" role="button">Contact Us
                <!-- <i class="fa fa-graduation-cap ml-2"></i> -->
            </a>
        </div>
        <!--/.Call to action-->

        <hr class="my-4">

        <!-- Social icons -->
        <div class="pb-4">
            <a href="https://www.facebook.com" target="_blank">
                <i class="fa fa-facebook mr-3"></i>
            </a>

            <a href="https://twitter.com" target="_blank">
                <i class="fa fa-twitter mr-3"></i>
            </a>


        </div>
        <!-- Social icons -->

        <!--Copyright-->
        <div class="footer-copyright py-3">
            © sliit.lk
            <!-- <a href="https://mdbootstrap.com/bootstrap-tutorial/" target="_blank"> MDBootstrap.com </a> -->
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->