
.fullscreen-cover {
    width: 100%;
    height: 100vh;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/9487/particle-bg-frame-1-landscape.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }