<!-- <img src="./assets/gif/Wd_doctor.gif" alt="" > <br> -->
<div class="row" style="position: relative;cursor: pointer;">
    <nav class="breadcrumb">
        <span class="breadcrumb-item">Doctors</span>
    </nav>
    <nav routerLink="/profiles/researchArea" routerLinkActive="active" class="breadcrumb" style="background-color: #007bff94;">

        <span routerLink="/profiles/researchArea" routerLinkActive="active" class="breadcrumb-item">Research Area</span>

    </nav>
</div>
<router-outlet></router-outlet>
<div class="row" style="margin-top: -49px;">
    <img src="./assets/gif/Doctor_Working.gif" alt="" style="height: 267px;margin-top: -21px;    position: relative">
    <div class="card mb-3 offset-md-4" style="height: 297px;max-width: 19rem;margin-top: -14px;left: 40px;">
        <div class="card-header text-center">Next Week</div>
        <div class="card-body">

            <div class="btn-group-horizontal" style="padding-left: 23px;" data-toggle="buttons">
                <label [ngStyle]="{'background-color': buttonColor1}" class="badge  ">
                    <input (click)="radio1Click()" type="radio" name="options" id="option1" autocomplete="off" checked> Ward1
                </label>
                <label [ngStyle]="{'background-color': buttonColor2}" class="badge  ">
                    <input (click)="radio2Click()" type="radio" name="options" id="option2" autocomplete="off"> Ward2
                </label>
                <label [ngStyle]="{'background-color': buttonColor3}" class="badge  ">
                    <input (click)="radio3Click()" type="radio" name="options" id="option3" autocomplete="off"> Ward3
                </label>
            </div>
            <div class="btn-group-horizontal horizontalHedule" role="group" aria-label="horizontal button group">
                <button style="background-color: #333" type="button" class="btn btn-git" data-toggle="modal" data-target="#modalShedule"
                    mdbWavesEffect>
                    <i *ngIf="buttonColor1=='#3a7973'" style=" margin-left: -24px;" class="fa fa-stethoscope" aria-hidden="true"> &nbsp; Consultant : Dr.Kamal</i>
                    <i *ngIf="buttonColor2=='#3a7973'" style=" margin-left: -24px;" class="fa fa-stethoscope" aria-hidden="true"> &nbsp; Consultant : Dr.Asela </i>
                    <i *ngIf="buttonColor3=='#3a7973'" style=" margin-left: -24px;" class="fa fa-stethoscope" aria-hidden="true"> &nbsp; Consultant : Dr.Sahan</i>
                </button>
                <button style="background-color: #333;width: 213px;" type="button" class="btn btn-git" data-target="#modalShedule" mdbWavesEffect>
                    <i style="    margin-left: -60px;" class="fa fa-group" aria-hidden="true"></i>
                    Patients&nbsp;&nbsp;&nbsp;
                    <span *ngIf="(buttonColor1=='#3a7973') &&( ward1 >70 )" class="badge badge-danger badge-pill pull-right">&nbsp;&nbsp;&nbsp;{{ward1}}
                        <i class="fa fa-arrow-up ml-1"></i>
                    </span>
                    <span *ngIf="(buttonColor1=='#3a7973') && (ward1 > 20 && ward1 > 70 )" class="badge badge-warning badge-pill pull-right">&nbsp;&nbsp;&nbsp;{{ward1}}
                        <i class="fa fa-arrow-up ml-1"></i>
                    </span>
                    <span *ngIf="(buttonColor1=='#3a7973') && (ward1 < 20)" class="badge badge-success badge-pill pull-right">&nbsp;&nbsp;&nbsp;{{ward1}}
                        <i class="fa fa-arrow-up ml-1"></i>
                    </span>


                    <span *ngIf="(buttonColor2=='#3a7973') &&( ward2 >70)" class="badge badge-danger badge-pill pull-right">&nbsp;&nbsp;&nbsp;{{ward2}}
                        <i class="fa fa-arrow-up ml-1"></i>
                    </span>
                    <span *ngIf="(buttonColor2=='#3a7973') &&  (ward2 > 20 && ward2 > 70) " class="badge badge-warning badge-pill pull-right">&nbsp;&nbsp;&nbsp;{{ward2}}
                        <i class="fa fa-arrow-up ml-1"></i>
                    </span>
                    <span *ngIf="(buttonColor2=='#3a7973') &&  (ward1 < 20) " class="badge badge-success badge-pill pull-right">&nbsp;&nbsp;&nbsp;{{ward2}}
                        <i class="fa fa-arrow-up ml-1"></i>
                    </span>





                    <span *ngIf="(buttonColor3=='#3a7973') && (ward3 >70) " class="badge badge-danger badge-pill pull-right">&nbsp;&nbsp;&nbsp;{{ward3}}
                        <i class="fa fa-arrow-up ml-1"></i>
                    </span>
                    
                    <span *ngIf="(buttonColor3=='#3a7973') && (ward3 > 20 && ward2 > 70 )" class="badge badge-warning badge-pill pull-right">&nbsp;&nbsp;&nbsp;{{ward3}}
                        <i class="fa fa-arrow-up ml-1"></i>
                    </span>
                    
                    <span *ngIf="(buttonColor3=='#3a7973') &&  (ward3 < 20)" class="badge badge-success badge-pill pull-right">&nbsp;&nbsp;&nbsp;{{ward3}}
                        <i class="fa fa-arrow-up ml-1"></i>
                    </span>

                </button>
                <button style="background-color: #333;width: 213px;" type="button" class="btn btn-git" data-target="#modalShedule" mdbWavesEffect>
                    <i style="    margin-left: -40px;" class="fa fa-hospital-o" aria-hidden="true"></i>

                    Free Beds&nbsp;&nbsp;&nbsp;&nbsp;
                    <span *ngIf="buttonColor1=='#3a7973'" class="badge badge-danger badge-pill pull-right">&nbsp;&nbsp;&nbsp;10%
                        <i class="fa fa-arrow-down ml-1"></i>
                    </span>
                    <span *ngIf="buttonColor2=='#3a7973'" class="badge badge-warning badge-pill pull-right">&nbsp;&nbsp;&nbsp;30%
                        <i class="fa fa-arrow-down ml-1"></i>
                    </span>
                    <span *ngIf="buttonColor3=='#3a7973'" class="badge badge-success badge-pill pull-right">&nbsp;&nbsp;&nbsp;60%
                        <i class="fa fa-arrow-down ml-1"></i>
                    </span>

                </button>


            </div>
        </div>
    </div>
</div>
<Section>
    <div class="card">
        <div class="view py-3 gradient-card-header info-color-dark mx-4 d-flex justify-content-between align-items-center">

            <div class="round">
                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                    <i class="fa fa-th-large mt-0"></i>
                </button>
                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                    <i class="fa fa-columns mt-0"></i>
                </button>
            </div>

            <a href="" class="white-text mx-3">Current  Doctors</a>

            <div class="round">
                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" data-toggle="modal" data-target="#basicExample"
                    (click)="fluidRight.show();setInsetTitle()" mdbWavesEffect>
                    <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                </button>

            </div>

        </div>
        <div class="card-body">
            <div id="table" class="table-responsive">

                <table class="table">
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">Doctor Name</th>
                        <th class="text-center">Ward</th>
                        <!-- <th class="text-center">Assinged Date</th> -->
                        <th class="text-center">doctorType</th>
                        <th class="text-center">Action</th>
                    </tr>
                    <tr *ngFor="let doctor of doctors; let i = index">
                        <td class="pt-3-half">{{doctor.id}}</td>
                        <td class="pt-3-half">{{doctor.name}}</td>
                        <td class="pt-3-half">{{doctor.ward}}</td>
                        <!-- <td class="pt-3-half">{{doctor.assingDate}}</td> -->
                        <td class="pt-3-half" *ngIf="doctor.doctorType=='Normal'">
                            <span class="badge badge-warning badge-pill ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Normal&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        </td>
                        <td class="pt-3-half" *ngIf="doctor.doctorType=='Consultant'">
                            <span class="badge badge-success badge-pill ">&nbsp;&nbsp;Consultant&nbsp;</span>
                        </td>
                        <!-- <td class="pt-3-half" *ngIf="doctor.doctorType=='Medium'">
                            <span class="badge badge-warning badge-pill ">&nbsp;&nbsp;Medium&nbsp;</span>
                        </td> -->

                        <td class="round">
                            <button (click)="setToForm(doctor._id)" type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" data-toggle="modal"
                                data-target="#basicExample" (click)="fluidRight.show()">
                                <i class="fa fa-pencil mt-0" style="color: brown"></i>
                            </button>
                            <button (click)="onRemoveIndex(doctor.id)" type="button" class="btn btn-danger btn-outline-white btn-rounded btn-sm px-2"
                                data-toggle="modal" data-target="#modalConfirmDelete" (click)="fluidRight1.show()">
                                <i class="fa fa-remove mt-0" style="color: red"></i>
                            </button>
                        </td>
                    </tr>
                    <!-- This is our clonable table line -->


                </table>
            </div>
        </div>
    </div>
    <!-- Editable table -->
</Section>
<section class="mb-5">

    <!--Top Table UI-->
    <div class="card p-2 mb-5">

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->

            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6">

                <!--Blue select-->

                <!--/Blue select-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6">

                <!--Blue select-->

                <!--/Blue select-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6">

                <form class="form-inline mt-2 ml-2">
                    <input class="form-control my-0 py-0" type="text" placeholder="Search" style="max-width: 150px;">
                    <button class="btn btn-sm btn-info ml-2 px-2">
                        <i class="fa fa-search"></i>
                    </button>
                </form>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>
    <!--Top Table UI-->

    <!--Card-->
    <div class="card card-cascade narrower">

        <!--Card header-->
        <div class="view py-3 gradient-card-header info-color-dark mx-4 d-flex justify-content-between align-items-center">

            <div class="round">
                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                    <i class="fa fa-th-large mt-0"></i>
                </button>
                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                    <i class="fa fa-columns mt-0"></i>
                </button>
            </div>

            <a href="" class="white-text mx-3">Current  Doctors</a>

            <div class="round">
                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                    <i class="fa fa-pencil mt-0"></i>
                </button>
                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                    <i class="fa fa-remove mt-0"></i>
                </button>
                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                    <i class="fa fa-info-circle mt-0"></i>
                </button>
            </div>

        </div>
        <!--/Card header-->

        <!--Card content-->
        <div class="card-body">

            <div class="table-responsive">

                <table class="table">
                    <thead>
                        <tr>

                            <th class="th-lg">Doctor</th>
                            <th class="th-lg">Ward</th>
                            <th class="th-lg">Current Patients</th>
                            <th class="th-lg">Next Week Patients</th>
                            <th class="th-lg">Predicted Nurses</th>
                            <th class="th-lg">Avalable Beds</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Dr.Naveen</th>
                            <td>Ward 1</td>
                            <td>120</td>
                            <td>20</td>
                            <td>3</td>
                            <td>27</td>
                        </tr>
                        <tr>
                            <th scope="row">Dr.Silva</th>
                            <td>Ward 2</td>
                            <td>140</td>
                            <td>40</td>
                            <td>5</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <th scope="row">Dr.Kamal</th>
                            <td>Ward 3</td>
                            <td>80</td>
                            <td>10</td>
                            <td>2</td>
                            <td>4</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
        <!--/.Card content-->

    </div>
    <!--/.Card-->

</section>

<!-- Central Modal Medium Success -->
<div mdbModal #fluidRight="mdb-modal" #style="mdb-modal" class="modal fade right" id="fullHeightModalRight" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-right " role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #0986e2; color: white;border: none;">

                <h4 class="modal-title w-100" style="font-weight: 991;text-align: center" id="myModalLabel">
                    <i class="fa fa-user-md" aria-hidden="true"></i>&nbsp;&nbsp;{{title}} &nbsp;&nbsp;
                    <strong>{{DoctorID}}</strong>
                </h4>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="fluidRight.hide()">
        <span aria-hidden="true">×</span>
      </button> -->
            </div>
            <div class="modal-body">

                <ul class="list-group z-depth-0">
                    <form>
                        <div class="md-form">
                            <i class="fa fa-user prefix "></i>
                            <input [(ngModel)]="name" type="text" id="Name" class="form-control" mdbInputDirective [ngModelOptions]="{standalone: true}">
                            <label for="Name">Name</label>
                        </div>
                        <div class="md-form">
                            <i class="fa fa-user prefix "></i>
                            <input [(ngModel)]="NIC" type="text" id="NIC" class="form-control" mdbInputDirective [ngModelOptions]="{standalone: true}">
                            <label for="NIC">NIC</label>
                        </div>

                        <div class="md-form wardMargin">
                            <i class="fa fa-ambulance prefix " style="font-size:28px"></i>
                            <!--        <input [(ngModel)]="ward" type="text" id="Ward" class="form-control" mdbInputDirective [ngModelOptions]="{standalone: true}">
                            <label for="Ward">Ward</label> -->
                            <select id="Ward" [(ngModel)]="ward" name="Select Ward" value="Select Ward" class="form-control Ward" style="    width: 89%;margin-left: 11%;">
                                <option selected disabled>Select Ward</option>
                                <option value="Ward 1">Ward 1</option>
                                <option value="Ward 2">Ward 2</option>
                                <option value="Ward 3">Ward 3</option>
                            </select>
                        </div>


                        <div class="md-form">
                            <i class="fa fa-line-chart prefix grey-text" style="font-size:28px"></i>
                            <select id="doctorType" [(ngModel)]="doctorType" name="Select Doctro Type" value="Select Doctro Type" class="form-control">
                                <option selected disabled>Select Doctro Type</option>
                                <option value="Nomal">Normal</option>
                                <option value="Consultant">Consultant</option>
                            </select>
                            <!-- <label for="doctorType">Doctro Type</label> -->
                        </div>


                        <!-- <div class="row dropdown md-form" dropdown [dropup]="true">
                                <i class="fa fa-line-chart prefix  col" style="font-size:28px"></i>
                            <span  style="height: 32px;width: 209px;margin-left: 96px;background-color: #626469e6 "  (click)="dropDownn()" class="badge dropdown-toggle"  id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                               <label style="cursor: pointer;;color: white; width: 204px; top: 7px;height: 21px;margin-left: 98px;">{{doctorType}}</label>
                        </span>
                            <div style="    margin-left: 120px;" id="myDropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" (click)="setDoctorTypeNgModel('Normal')" >Nomal</a>
                                <a class="dropdown-item" (click)="setDoctorTypeNgModel('Consultant')">Consultant</a>
                            </div>
                        </div> -->

                        <!-- <div class="md-form">
              <i class="fa fa-pencil prefix grey-text"></i>
              <textarea type="text" id="contactFormMessage"  class="md-textarea" style="height: 100px"
              mdbInputDirective></textarea>
              <label for="contactFormMessage"></label>
            </div>
           -->
                        <!-- <div class="text-center">
              <button class="btn btn-unique waves-light" mdbWavesEffect>Send
                <i class="fa fa-paper-plane-o ml-1"></i>
              </button>
            </div> -->
                    </form>
                    <!-- contact form -->
                </ul>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary waves-light" data-dismiss="modal" (click)="fluidRight.hide()" mdbWavesEffect>Close</button>
                <button *ngIf="title=='New Doctor'" type="button" class="btn btn-primary waves-light" mdbWavesEffect (click)="onCreate();launch_toast2();fluidRight.hide()">Assign Doctor</button>
                <button *ngIf="title !='New Doctor'" type="button" class="btn btn-primary waves-light" mdbWavesEffect (click)="onUpdate();launch_toast2();fluidRight.hide()">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<div mdbModal #fluidRight1="mdb-modal" class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalRemove"
    aria-hidden="true">
    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
        <!--Content-->
        <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header d-flex justify-content-center">
                <p class="heading">Are you sure?</p>
            </div>

            <!--Body-->
            <div class="modal-body">

                <i class="fa fa-times fa-4x animated rotateIn"></i>

            </div>

            <!--Footer-->
            <div class="modal-footer flex-center">
                <button type="button" class="btn  btn-outline-danger" mdbWavesEffect (click)="onRemove();launch_toast()" data-dismiss="modal"
                    (click)="fluidRight1.hide()">Yes</button>
                <!-- <a class="btn  btn-outline-danger">Yes</a> -->
                <!-- <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a> -->
                <button type="button" class="btn  btn-danger" mdbWavesEffect data-dismiss="modal" (click)="fluidRight1.hide()">No</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>

<div id="toast">
    <div id="img">
        <i class="fa fa-check" aria-hidden="true"></i>
    </div>
    <div id="desc">Success Fully Removed...!</div>
</div>

<div id="toast1">
    <div id="img">
        <i class="fa fa-check" aria-hidden="true"></i>
    </div>
    <div id="desc">Success Fully Assinged...!</div>
</div>
<div id="toast3">
    <div id="img">
        <i class="fa fa-check" aria-hidden="true"></i>
    </div>
    <div id="desc">Success Fully Updated...!</div>
</div>

<!-- http://jsfiddle.net/m8x1g0q8/ -->
<!--Modal: modalConfirmDelete-->
<script>

// Close the dropdown if the user clicks outside of it

</script>