    <!--Main Navigation-->
    <header>

        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container-fluid">

                <!-- Brand -->

                <marquee class="row" behavior="scroll" direction="left">

                    <label class="col-sm-6 black-text">Next Week Patient Count : &nbsp;&nbsp;&nbsp; <strong class="Gray-text">50</strong> <i class="fa fa-arrow-down ml-1" style="color: #6abd11c9;"></i></label>
                    <label class="col-sm-4">Predicted patients per nurse : &nbsp;&nbsp;&nbsp; <strong>15 <i class="fa fa-arrow-up ml-1" style="color: #ff0000ab;"></i></strong></label>
                </marquee>
                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                </div>

            </div>
        </nav>
        <!-- Navbar -->

        <!-- Sidebar -->
        <div class="sidebar-fixed position-fixed">

            <a class="logo-wrapper waves-effect">
                <img src="../../../../assets/img/logo.PNG" class="img-fluid" alt="">
            </a>

            <div class="list-group list-group-flush">

                <a routerLink="dashboards/v1"  routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-pie-chart mr-3"></i>Dashboard
                </a>
                <a routerLink="profiles/profile1" routerLinkActive="active"  class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-user mr-3"></i>Doctors</a>
                <a routerLink="tables/table1" routerLinkActive="active"  class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-table mr-3"></i>Nurses</a>
                <a routerLink="maps/map1" routerLinkActive="active"  class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-map mr-3"></i>Patients</a>
                <!-- <a routerLink="nonExistingPath" routerLinkActive="active"   class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-exclamation mr-3"></i>404</a> -->

            </div>

<br>
<br>
<br>
<br>
<hr>
<br>
<br>

<div style="width: 270px" role="tabpanel" class=" tab-pane"  id="skill" >
    <div class="skill-section">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
          <div class="progress">
              <div class="progress-bar  active" role="progressbar" aria-valuenow="  45"     aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                <span style="background-color: red;" class="skill-name"><strong>Ward 1</strong></span>
              </div>
          </div>
        </div>
        <div style="top: -4px;font-weight: 600" class="col-md-2 col-sm-2 col-xs-2 text-left">90%</div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
          <div class="progress">
              <div class="progress-bar  active" role="progressbar" aria-valuenow="  45"     aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                <span style="background-color: green;" class="skill-name"><strong>Ward 2</strong></span>
              </div>
          </div>
        </div>
        <div style="top: -4px;font-weight: 600" class="col-md-2 col-sm-2 col-xs-2 text-left">40%</div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
          <div class="progress">
              <div class="progress-bar  active" role="progressbar" aria-valuenow="  45"     aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                <span  style="background-color: orange;" class="skill-name"><strong>Ward 3</strong></span>
              </div>
          </div>
        </div>
        <div style="top: -4px;font-weight: 600" class="col-md-2 col-sm-2 col-xs-2 text-left">55%</div>
      </div>




    </div>
  </div>

        </div>
        <!-- Sidebar -->

    </header>
    <!--Main Navigation-->
